<div class="card">
  <div class="card-title mb-2">
    <div>
      <span>{{ fish().name }} </span>
      <br />
      <small class="col-secondary" style="font-size: 12px">{{ fish().latinName }}</small>
    </div>

    <small [class.bg-green]="canBeFished()" [class.bg-red]="!canBeFished()" class="indicator"
      >{{ canBeFished() ? 'Nicht in ' : 'In' }} Schonzeit</small
    >
  </div>

  <div class="card-content">
    <div><strong>Schonzeit: </strong>{{ noFishingPeriod() }}</div>
    <div class="mt-05">
      <strong>Schonmaß: </strong>
      <span>{{ minSize() }}</span>
    </div>
    <div class="mt-05">
      <strong>Einzugsgebiete(e): </strong>
      <span>{{ catchmentAreas() }}</span>
    </div>
  </div>
</div>
