:host {
  display: block;
}

.card {
  padding: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 5px;
}

.card-title {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content * {
  font-size: 14px;
}

img {
  width: 24px;
}

.text-and-img {
  display: flex;
  align-items: center;
}

.indicator {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.bg-red {
  box-shadow: #e74c3c 0px 0px 0px 2px;
}

.bg-green {
  box-shadow: #27ae60 0px 0px 0px 2px;
}
