:host {
  display: block;
}

.card {
  padding: 15px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 5px;
}

.card-title {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content * {
  font-size: 14px;
}

img {
  width: 24px;
}

.text-and-img {
  display: flex;
  align-items: center;
}

.indicator {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.badge {
  font-size: 10px;
  color: white;
  padding: 2px 5px;
  border-radius: 2px;
  font-weight: 600;
}

.can-be-fished-badge {
  background-color: #27ae60;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.can-not-be-fished-badge {
  background-color: #e74c3c;
}
