<div class="card">
  <div class="card-title mb-2">
    <div>
      <div>
        <strong>{{ fish().name }} </strong>
      </div>
      <div class="lh-1">
        <small class="col-secondary">{{ fish().latinName }}</small>
      </div>
      <div class="lh-1">
        @if (canBeFished()) {
        <small class="badge can-be-fished-badge">Nicht in Schonzeit</small>
        } @else {
        <small class="badge can-not-be-fished-badge">In Schonzeit</small>
        }
      </div>
    </div>
  </div>

  <div class="card-content">
    <div><strong>Schonzeit: </strong>{{ noFishingPeriod() }}</div>
    <div class="mt-05">
      <strong>Schonmaß: </strong>
      <span>{{ minSize() }}</span>
    </div>
    <div class="mt-05 desktop">
      <strong>Einzugsgebiete(e): </strong>
      <span>{{ catchmentAreas() }}</span>
    </div>
    @if (hasImage()) {
    <div class="mt-05">
      <strong>Bild: </strong>
      <u style="cursor: pointer" (click)="isImageViewerOpen = true">Hier klicken</u>
    </div>
    }
  </div>
</div>

@if (isImageViewerOpen) {
<app-image-viewer
  (close)="isImageViewerOpen = false"
  [imageUrl]="imageUrl()"
  [imageTitle]="fish().name"
></app-image-viewer>
}
