img {
  width: 50px;
}

input {
  padding: 15px;
  border: 2px solid rgb(180, 180, 180);
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

input:focus {
  border-color: black;
  border-width: 2px;
}

a {
  color: black;
}

.fish-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 700px) {
  .fish-grid {
    grid-template-columns: 1fr; /* On small screens, use 1 column */
  }
}

.grid-full-width {
  grid-column: 1 / -1;
}
