img {
  width: 50px;
}

input {
  padding: 12px;
  border: 2px solid rgba(136, 165, 191, 0.48);
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

a {
  color: black;
}

.fish-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 700px) {
  .fish-grid {
    grid-template-columns: 1fr; /* On small screens, use 1 column */
  }
}

.grid-full-width {
  grid-column: 1 / -1;
}

.fish-search {
  position: relative;
}

.clear-button {
  position: absolute;
  right: 5%;
  top: 18%;
  cursor: pointer;
}

.clear-button img {
  width: 35px;
  transform: rotate(24deg);
}
