<div class="container">
  <!-- Logo and Heading -->

  <!-- Heading (Desktop) -->
  <section class="ta-center mb-2 desktop">
    <img src="assets/img/logo.webp" alt="Maß und Zeit Logo" />
    <h1 class="mt-1">Zeit und Maß</h1>
    <p class="mb-0">Schonzeiten und Schonmaße für Fische in <strong>Bayern</strong></p>

    <small class="col-secondary">
      Die Daten beinhalten {{ fishes.length }} Fischarten, gelten für 2024 und beruhen auf
      <a href="https://www.gesetze-bayern.de/Content/Document/BayAVFiG-ANL_1" target="_blank"
        >diesem Gesetz</a
      >.</small
    >
  </section>

  <!-- Heading (Mobile) -->
  <section class="ta-center mb-2 mobile">
    <h1>Zeit und Maß</h1>
    <small class="col-secondary">Schonzeiten und Schonmaße in Bayern 2024</small>
  </section>

  <!-- Fish Search -->
  <section>
    <input
      [(ngModel)]="filterValue"
      (input)="onInput($any($event.target).value)"
      type="search"
      spellcheck="false"
      class="w-100"
      placeholder="'karpfen' oder 'hecht zander barsch'"
    />
  </section>

  <!-- Fish List -->
  <section>
    <div class="fish-grid mt-3">
      @for (fish of filteredFishes; track fish) {
      <app-fish-card [fish]="fish"></app-fish-card>
      } @empty {
      <div class="ta-center mt-3 col-secondary grid-full-width">
        Keine Treffer für "<strong>{{ filterValue }}</strong
        >"
      </div>
      }
    </div>
  </section>

  <p></p>
</div>
